body.black {
  background-color: black;
  color: white;
  transition: 0.5s;
}

body.roxo {
  background-color: rgb(163, 9, 246);
}

body.rosa {
  background-color: pink;
  
}

body {
  transition: background-color 0.5s ease;
}
